{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link type="text/css" href="{% static 'news/css/styles.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="menu">
    {% block mainmenu%}
    <!-- меню-->
        <div class="topnav" >
            {%for m in menu %}
                    <a href="#" class="active">{{m.title_menu}}</a>
            {%endfor%}
          </div>
    </div>

    <ul>
        {%for m in menu %}
        <li>{{m}}</li>
        {%endfor%}


    </ul>
    {% endblock mainmenu %}
    {%block content%}
    {%endblock%}
    <h1> {{title}}</h1>


    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class = "footer-col">
                    <h4>company</h4>
                    <ul>
                        <li> <a href="#">about us</a></li>
                        <li> <a href="#">our services</a></li>
                        <li> <a href="#">privacy policy</a></li>
                        <li> <a href="#">affilate program</a></li>
                    </ul>
                </div>
                <div class = "footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li> <a href="#">FAQ</a></li>
                        <li> <a href="#">shipping</a></li>
                        <li> <a href="#">returns</a></li>
                        <li> <a href="#">order status</a></li>
                        <li> <a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class = "footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li> <a href="#">watch</a></li>
                        <li> <a href="#">bag</a></li>
                        <li> <a href="#">shoes</a></li>
                        <li> <a href="#">dress</a></li>
                    </ul>
                </div>
                <div class = "footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                         <a href="#"><i class="fab fa-instagram"></i></a>
                         <a href="#"><i class="fab fa-vk"></i></a>
                         <a href="#"><i class="fab fa-youtube"></i></a>
                         <a href="#"><i class="fab fa-telegram"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>