{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link type="text/css" href="{% static 'news/css/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<div class="menu">
{% block mainmenu%}
<!-- меню-->
    <div class="topnav" >
        {%for m in menu %}
        <a href="#" class="active">{{m}}</a>
        {%endfor%}
      </div>
</div>

<ul>
    {%for m in menu %}
    <li>{{m}}</li>
    {%endfor%}


</ul>
{% endblock mainmenu %}
{%block content%}
{%endblock%}
<h1> {{title}}</h1>

<div class = 'footer'>
    <footer>
        <h2>это футтер </h2>
    </footer>
</div>
</body>
</html>