{% extends 'news/base.html' %}
{% load static %}

{% block css_additional %} <!-- подгружаем css --, указать ссыклку на css file-->
   <link type="text/css" href="{% static 'news/css/index.css' %}" rel="stylesheet">
{% endblock css_additional %}

{%block content %}

<div class="index_main">

    <div>
        <img class="index_photo" src="https://gamerwall.pro/uploads/posts/2022-05/1652371911_3-gamerwall-pro-p-kirpichnii-dom-minimalizm-oboi-krasivo-3.jpg">
        <p class="index_photo_text">Хз что писать</p>
    </div>

    <section id="about_service_new">
      <p class="head_new_about">
         О компании
      </p>
      <div class="items_service_new">
         <div class="item_service_new">
            <div class="img">
               <img alt="Эверест - Сервис по покупке и сдачи в аренду помещений" src="/static/news/img/img1.jpg" title="Эверест - Сервис по покупке и сдачи в аренду помещений">
            </div>
            <div class="info">
               <p class="p_headserviceitem">
                  Эверест
               </p>
               <h1 class="p_opisanie_service">
                  Сервис поиска помещений (удобный поиск по городам и ценам)
               </h1>
               Дома и квартиры по всей стране
            </div>
         </div>
         <div class="item_service_new">
            <div class="img">
               <img alt="Города в которых мы работаем" src="/static/news/img/img2.bmp" title=" Города в которых мы работаем">
            </div>
            <div class="info">
               <p class="p_headserviceitem">
                  Работа на территории всей страны
               </p>
               <p class="p_opisanie_service">
                  Воспользоваться нашими услугами можно в любой точке РФ
               </p>
               Качество предоставляемых объектов гарантировать не можем<a href="{% url 'real_estate' %}" target="_blank">Перейти</a>
            </div>
         </div>
         <div class="item_service_new">
            <div class="img">
               <img alt="Статистика" src="/static/news/img/img3.jpg" title="Статистика">
            </div>
            <div class="info">
               <p class="p_headserviceitem">
                  Статистика на 2023
               </p>

               <ul class="p_opisanie_service">
                  <li>Среднее число объектов на сайте 12000</li>
                  <li>Крупные застройщики 140</li>
                  <li>Чистая прибыль 1145000 рублей</li>

               </ul>


               Больше статистических данных вы можете посмотреть в наших информационных каналах
            </div>
         </div>
         <div class="item_service_new">
            <div class="img">
               <img alt="Телеграмм" src="/static/news/img/img4.png" title="Телеграмм">
            </div>
            <div class="info">
               <p class="p_headserviceitem">
                  Связь с владельцем
               </p>
               <p class="p_opisanie_service">
                  Заключайте договора без риска
               </p>
               Если вы заметили попытку мошенничества сообщите службе поддержки  <a href="mailto:aleksandrkhubaev04@gmail.com" target="_blank">Перейти</a>
            </div>
         </div>
      </div>
   </section>






    <div class="news">
       <h2> Список новостей</h2>


      <div class="news_text">
         {%for post in posts%}
         <a href="{% url 'post' post.slug %}"> <h3>Название статьи {{post.title}}</h3> </a>
         {%endfor%}





       </div>
   </div>
</div>
{%endblock content%}
