{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>{{title}}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" href="{% static 'news/css/post_styles.css' %}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Andika:ital@1&display=swap" rel="stylesheet">


</head>

<body>

	<h1>{{title_news}}</h1>
	<div  class="contewner">
		<div class="contewner2" >
			<div class="created_at create_inf">
				Дата создания: {{created_at}}
			</div>
			<div class="category_selected create_inf" >
				Категория {{category_selected}}
			</div>
		</div>
		<div class="contewner3">
			<img src="{{post.photo.url}}"  class="news_img"  />
			<div class="contewner_news_text">{{content|linebreaks}}</div>
		</div>


	</div>

	<div class="nav_button">

		<a href="{% url 'home' %}">На главную</a>
	</div>




</body>

</html>