<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link type="text/css" href="{% static 'news/css/post_styles.css' %}" rel="stylesheet">

	<link rel="stylesheet" type = "text/css" href="styles.css" />

	<title>test</title>
</head>

<body>

	<h1>iuy</h1>
    <img src="https://www.russiadiscovery.ru/upload/files/files/Kavkazskie_gory.jpg", class="news_img">
    <p>Россия богата природными красотами. А что может быть прекраснее гор!
         Скалы, уходящие в море, заснеженные макушки и вековые ледники, поросшие лесами склоны.
         Горы России в разное время притягивали как обычных туристов, так и профессиональных альпинистов, которые пытаются покорить вершины на немыслимой высоте.
    </p>
	<div class="nav_button">
		<a href="#">На главную</a>
	</div>




</body>

</html>