<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <form>
        <h1>Регисьрация</h1>
        <div class="form-input">
            <input type="text" placeholder="Фамилия" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="text" placeholder="Имя" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="text" placeholder="Отсество" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="date" placeholder="Дата рождения" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="email" placeholder="Почта" maxlength="50" >
        </div>
        <div class="form-input">
            <input type="password" placeholder="Пароль" maxlength="20">
        </div>
        <div class="form-input">
            <input type="password" placeholder="Подтвердите пароль" maxlength="20">
        </div>


        <div class="form-input">
            <input type="submit" value="Войти">
        </div>

    </form>
</body>
</html>