{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link type="text/css" href="{% static 'news/css/registration_styles.css' %}" rel="stylesheet">
</head>
<body>
    <form method="post">
        {% csrf_token%}
        <h1>Регистрация</h1>
        <div class="form-input">
            <input type="text" placeholder="Фамилия" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="text" placeholder="Имя" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="text" placeholder="Отчество" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="date" placeholder="Дата рождения" maxlength="15" >
        </div>
        <div class="form-input">
            <input type="email" placeholder="Почта" maxlength="50" >
        </div>
        <div class="form-input">
            <input type="password" placeholder="Пароль" maxlength="20">
        </div>
        <div class="form-input">
            <input type="password" placeholder="Подтвердите пароль" maxlength="20">
        </div>


        <div class="form-input">
            <input type="submit" value="Войти">
        </div>

    </form>
</body>
</html>