body{
    background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.3)),
     url("https://api.interior.ru/media/images/setka/2020_05_19/StudioAutori_ApartmentO_Belgrade_1_1920.jpg");
     -webkit-background-size: cover;
     background-attachment: fixed;
     font-family: sans-serif;
}

form {
    position: absolute;
    padding: 0 0 10px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.7);
}

form h1{
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
}

.form-input {
    margin: 15px 40px;
    text-align: center;
}

.form-input input {
    padding: 10px;
    width: 100%;
    color:#fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.form-input input[type="email"]:focus, .form-input input[type="password"]:focus {
    border: 1px solid #4CAF50;
}

.form-input input[type="submit"] {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #4CAF50;
    transition: 0.3s;
}

.form-input input[type="submit"]:hover {
    background:  rgb(100, 156, 44);
}

form a{
    display: block;
    padding: 0 0 20px 0;
    text-align: center;
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
}

form a:hover{
    color: #4CAF50;
}
