@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* основные настройки*/

body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}


/*  меню */

.topnav{
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #4CAF50;
}

.topnav ul
{
    width : 80%;
    margin: 0 auto;
    padding 0;
}

.topnav ul li
{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.topnav ul li:hover
{
    background: rgb(100, 156, 44);
}

.topnav ul li a
{
    color: #fff;
    text-decoration : none;
}

.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: #51961d;
    text-align: right;
    box-sizing: border-box;
    color : #fff;
    font-size: 30px;
    display: none;
}





/*  footer*/

.footer-container
{
    max-width: 1470px;
    margin: auto;
    line-height: 1.5;
}

.footer
{
    margin: 0;
    padding: 25px 0 0 0;
    background-color: rgb(33, 30, 30);
    box-sizing: border-box;
}



.footer-row
{
    display: flex;
    flex-wrap: wrap;
}

.footer-col
{
    width: 22%;
    padding: 0 15px;
}

.footer-col ul
{
    list-style: none;
}

.footer-col h4
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 90px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{

    margin: 0 0 0 -30px;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration:none;
    font-weight: 300;
    color: #bbb;
    display: block;
    width: 75%;
    transform: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transform: all 0.5s ease;

}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;


}

@media (max-width: 900px)
{
.toggle

{
    display: block;
}



#menu
{
    width: 100%;
    display: none;
    padding-left: 0;
    
}

.topnav ul li
{
    display: block;
    text-align: center;
    padding: 8px;
}


}

@media(max-width: 1000px){
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;


}



/* index */