@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* основные настройки*/

body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}


/*  меню */

.topnav{
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #4CAF50;
}

.topnav ul
{
    width : 80%;
    margin: 0 auto;
    padding 0;
}

.topnav ul li
{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.topnav ul li:hover
{
    background: rgb(100, 156, 44);
}

.topnav ul li a
{
    color: #fff;
    text-decoration : none;
}

.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: #51961d;
    text-align: right;
    box-sizing: border-box;
    color : #fff;
    font-size: 30px;
    display: none;
}





/*  footer*/

.footer-container
{
    max-width: 1470px;
    margin: auto;
    line-height: 1.5;
}

.footer
{
    margin: 0;
    padding: 25px 0 0 0;
    background-color: rgb(33, 30, 30);
    box-sizing: border-box;
}



.footer-row
{
    display: flex;
    flex-wrap: wrap;
}

.footer-col
{
    width: 22%;
    padding: 0 15px;
}

.footer-col ul
{
    list-style: none;
}

.footer-col h4
{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 90px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{

    margin: 0 0 0 -30px;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    text-decoration:none;
    font-weight: 300;
    color: #bbb;
    display: block;
    width: 75%;
    transform: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transform: all 0.5s ease;

}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;


}

@media (max-width: 900px)
{
.toggle

{
    display: block;
}



/* меню */
{
    width: 100%;
    display: none;
    padding-left: 0;
    
}

.topnav ul li
{
    display: block;
    text-align: center;
    padding: 8px;
}


}

@media(max-width: 1000px){
    .footer-col{
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        }


}



/* index */
.index-main{
    background: rgba(255, 239, 213, 1);
    padding : 0 10px;
    margin : 10 px;
}
.index_photo{
    width: 100%

}
.index_photo_text{
    position: absolute;
    padding: 0 0 10px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(245, 245, 220, 0.5);
    font-size: 50px;

}
div,h1,p,a,img,section{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
 section{
    display:block;
}
/*! CSS Used from: https://star-bus.ru/bitrix/templates/default/css/style_12.04-1.css?t=1681292031 */
 a:focus{
    outline:0;
}
 h1{
    font-family:Gotham Pro;
    font-size:30px;
    margin-bottom:25px;
    font-weight:bold;
}
 #about_service_new{
    max-width:1200px;
    margin:100px auto;
    padding:0 15px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
 #about_service_new p.head_new_about{
    font-size:32px;
    line-height:48px;
    color:#282828;
    font-family:"Gotham Pro";
    text-align:center;
}
 #about_service_new .items_service_new{
    width:100%;
    margin-top:80px;
}
 #about_service_new .items_service_new .item_service_new{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    width:100%;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:60px;
}
 #about_service_new .items_service_new .item_service_new .img img{
    max-width:565px;
    height:auto;
}
 #about_service_new .items_service_new .item_service_new .img{
    padding:20px;
}
 #about_service_new .items_service_new .item_service_new .info p.p_headserviceitem{
    font-size:40px;
    margin-bottom:15px;
    color:#282828;
    font-family:"Gotham Pro";
    font-weight:500;
    text-align:left;
    font-weight:bold;
}
 #about_service_new .items_service_new .item_service_new .info{
    font-family:"Gotham Pro";
    font-size:18px;
    line-height:36px;
    padding:0 20px;
    max-width:100%;
}
 #about_service_new .items_service_new .item_service_new:nth-child(2n){
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse;
}
 #about_service_new .items_service_new .item_service_new .info .p_opisanie_service{
    font-size:24px;
    color:#282828;
    font-family:"Gotham Pro";
    text-align:left;
}
 #about_service_new .items_service_new .item_service_new .info .p_opisanie_service{
    font-weight:bold;
    font-size:22px;
    color:#282829;
    font-family:"Gotham Pro";
    text-align:left;
    margin-bottom:1rem;
    padding-bottom:1rem;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
 #about_service_new .items_service_new .item_service_new .info a{
    font-size:14px;
    line-height:48px;
    color:#fff;
    font-family:"Gotham Pro";
    text-align:center;
    border-radius:22px;
    -webkit-box-shadow:0 3px 12px rgba(0,0,0,0.1);
    box-shadow:0 3px 12px rgba(0,0,0,0.1);
    background-image:-webkit-gradient(linear,left top,right top,color-stop(0,#f3bf5b),to(#f3a757));
    background-image:linear-gradient(90deg,#f3bf5b 0,#f3a757 100%);
    display:block;
    text-decoration:none;
    margin-top:40px;
}
 @media (max-width:600px){
     #about_service_new .items_service_new .item_service_new .info p.p_headserviceitem{
        font-size:30px;
    }
}
/*! CSS Used from: https://star-bus.ru/bitrix/templates/default/css/media_2.css?t=1635355186 */
 @media (max-width:1000px){
     #about_service_new .items_service_new .item_service_new .img img{
        width:100%;
    }
     #about_service_new .items_service_new .item_service_new:nth-child(2n){
        flex-direction:column;
        margin:0;
    }
     #about_service_new .items_service_new .item_service_new{
        flex-direction:column;
        margin:0;
    }
     #about_service_new .items_service_new .item_service_new .info a{
        margin:20px 0 0;
    }
}
 @media (max-width:1030px){
     h1{
        text-align:center;
    }
}
/*! CSS Used from: https://star-bus.ru/bitrix/templates/default/css/custom_12.04-02.css?t=1681292286 */
 *{
    box-sizing:border-box;
}
 a{
    color:inherit;
    text-decoration:none;
}
/*! CSS Used fontfaces */
 @font-face{
    font-family:'Gotham Pro';
    src:url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.eot');
    src:url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.eot?#iefix') format('embedded-opentype'),url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.woff') format('woff'),url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
 @font-face{
    font-family:'Gotham Pro';
    src:url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.eot');
    src:url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.eot?#iefix') format('embedded-opentype'),url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.woff') format('woff'),url('https://star-bus.ru/bitrix/templates/default/css/foonts/GothamPro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
